*{
    font-family: 'Poppins', sans-serif;
    padding:0;
    margin:0;
    border:0;
}


.header{
    display:grid;
    grid-template-columns: 2fr 1fr 5fr;
    text-align: center;
    font-size:1.4rem;
    text-align:center;
    background:lightgray;
    padding:1rem;
}


.grid{
    margin-top:1rem;
    padding:1rem;
    display:grid;
    gap:1rem;
    grid-template-areas: 
      "lisboa lisboa lisboa lisboa" 
      "porto porto sines sines"
      "porto porto leiria leiria" 
      "algarve algarve algarve algarve";
    align-content:center;
    text-align: center; 
}


img{
    width:100%;
    object-fit:cover;
}

.lisboa{
    grid-area:lisboa;
}
.porto{
    grid-area:porto;
}
.sines{
    grid-area:sines;
    height:auto;
}
.leiria{
    grid-area:leiria;
    height:auto;
}
.algarve{
    grid-area:algarve;
}





.grid-item{
    height:fit-content;
    padding:1rem;
    background:#f3f3f3;
    box-shadow: 2px 3px 7px 0px rgba(48,48,48,1);
}